body {
    font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ" "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
    color:#333;
    line-height:25px;
    font-size:0.95em;
}
h1 {
    text-align: center;
}
a {
    color:#191;
    text-decoration: none;
}